<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <style>
            ul {
                list-style-type: none;
            }
        </style>
    </head>
    <body>
        <nav>
            {% if not g.user %}
                <a href="{{ url_for('url_shorten.index') }}">Home</a>
                <a href="{{ url_for('auth.register') }}">Register</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('url_shorten.index') }}">Home</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}

        </nav>

        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>

            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>