<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('url_shorten.index') }}">Home</a>
        {% if not g.user %}
            <ul>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            </ul>
        {% endif %}
    </nav>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>

        {% for message in get_flashed_messages() %}

        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>