{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}URL Shortener{% endblock %}</h1>
{% endblock %}

{% block content %}

    {% if g.user %}
        <form method="post">
            <label for="url">URL</label>
            <input name="url" id="url" required>
            <input type="submit" value="Shorten!">
        </form>
    {% endif %}

    <ul>
        {% for formatted_url in formatted_urls %}
            <div class="container-name">
                <li>
                    <form method="POST" action="/delete">
                      <a href="{{ formatted_url.url }}">{{ formatted_url.url }}</a>
                      <input type="hidden" value="{{formatted_url.url_id}}" name="url_id">
                      <input type="submit" value="Delete">
                    </form>
                </li>
            </div>
        {% endfor %}
    </ul>

{% endblock %}

