{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}URL Shortener{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if short_url %}
        <p><a href="{{ short_url }}">{{ short_url }}</a></p>
    {% endif %}

    {% if g.user %}
        <form method="post">
            <label for="url">URL</label>
            <input name="url" id="url" required>
            <input type="submit" value="Shorten!">
        </form>
    {% endif %}

    <ul>
        {% for url in formatted_urls %}
        <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}

