{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="flash alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% if g.user %}

        <div class="container-fluid">
                    <form class="form-inline justify-content-center" method="post">
                        <label for="url">URL: </label>
                        <input class="form-control" name="url" id="url" required>
                        <button class="btn btn-default" type="submit" value="Shorten">Shorten</button>
                    </form>
        </div>
        <ul class="list-group row">
            <li class="list-group-item col-md-4 mx-auto">
                <h2 class="url-list-header">Shortened URL</h2>
                <button id="edit" class="btn btn-light float-right" type="button">Edit</button>
            </li>
            {% for formatted_url in formatted_urls %}
                    <li class="list-group-item list-group-item-action col-md-4 mx-auto">
                        <form method="POST" action="/delete">
                            <a href="{{ formatted_url.url }}">{{ formatted_url.url }}</a>
                            <input type="hidden" value="{{formatted_url.url_id}}" name="url_id">
                            <button class="btn btn-danger delete-button" type="submit" value="Delete">
                                <i class="icon-remove"></i>
                            </button>
                        </form>
                    </li>
            {% endfor %}

        </ul>
    {% else %}
        <h4>
            The one stop shop for url shortening. Need a URL to be sliced and diced? Then we have
            what you need.
        </h4>
    {% endif %}


{% endblock %}

