ul {
    list-style-type: none;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */

.stacked-button {
    background-color: #193D72;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.shorten-button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.login-form {
    background-color: #fff;
    font-size: 14px;
}

.register-form {
    background-color: #fff;
    font-size: 14px;
}

.form-inline > * {
    margin: 5px 3px;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar {
    background-color: #193D72;
}









